# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*.local

# React
/build
/dist
.cache/
.vite/
*.tsbuildinfo

# macOS
.DS_Store

# Logs
logs
*.log
logs/*
*.pid
*.seed
*.pid.lock

# OS files
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# PostgreSQL
*.sql
*.sqlite
*.dump
*.db

# VS Code
.vscode/

# Test coverage
coverage/

# Optional dependency directories
.bower_components
jspm_packages/

# Misc
.idea/
*.sublime-project
*.sublime-workspace
